* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: visible;
    scroll-behavior:smooth;
}
.header {
    position: relative;
    border: solid 1px silver;
    display: block;
    width: 100%;
}

nav > div> img {
    padding: 5px;
    width: 100px;
    margin-left:30px;
    display:inline-block;
}

#logo{
    display: block;
    width: 100%;
}
.banner>h1>span>a {
    text-decoration: none;
    color: aliceblue;
}

.banner {
    --bs-bg-opacity: 1;
    background-color:#25cff2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 80px;
    margin-top:2px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    border: solid 1px black;
}

.right,
.left {
    border-radius: 50%;
    width: 50px;
}
a.left,a.right{
    font-size:xx-large;
    text-decoration: none;
    align-self:center;

}
.form-control {
    max-width: fit-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search {
    display: flex;
    flex-direction: row;
    position: relative;
}

.principal {
    background-color:rgb(204, 223, 220);
    padding-top: 30px;
}
.mb-2{
    margin-top:0; 
}
fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    width: 100%;
}

#main-contact {
    width: 100%;
    margin-left: 30px;
    padding-bottom: 30px;
    display: grid;
}

div.search {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 4.5rem;
}

.container-sm ul {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-sm {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

footer{
    display: flex;
    align-items: center;
}
#redes {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
#cohort{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.p-3 {
    border: solid 1px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 30px;
}

footer {
    margin-left: 0;
    margin-bottom: 5px;
}

.btn.btn-outline-success {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input-icon {
    display: flex;
    align-self: center;
    color: #191919;
    width: 20px;
    height: 20px;
    left: 5px;
}

h4 {
    display: inline-flex;
    width: 80%;
}

.container-fluid {
    display: inline;
}

ul > li.nav-item{
    border: solid 2px gray;
    background-color: springgreen;
    margin: 10px;
    padding: 0px;
    font-weight: bold;
    display: flex;
    width: fit-content;
}
.navbar-brand{
    margin-left: 10px;
    font-size: medium!important;  
}

#redes{
    display: flex;
    gap: 15px;
}
.redes>a>img{
    width: 40px;
}
a.active{
    color:blue;
}

#formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#nombre,#email,#message{
    display: block;
    width: 250px;
    border: solid grey 2px;
}
#fieldset1{
    flex-direction: column;
}
#fieldset2{
    margin-top: 15px;
}
form{
    width: fit-content;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
input#submit{
    border:solid black;
    width: 90px;
    align-self: flex-end;
    margin: 15px;
    font-weight: bold;
}

main#stats{
    display:grid; 
    justify-content: center;
}

tbody, td, tfoot, th, thead, tr {
    border-color:black!important;
    border-style: solid;
    border-width: 0px;
}
table th, td{
    color:#191919;
}

form{
    width: fit-content;
    align-items: center;
}
.boton {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 50%;
  }

  div.col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.detalles{
    margin-left: unset;
}
.col>img{
    object-fit: contain;/**/
    margin-right: 40px;
}

#detalles{  
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.principal-details{
    background-color:rgb(204, 223, 220);
    display: flex;
    flex-direction: row;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.principal-upcoming{
    background-color:rgb(204, 223, 220);
    padding-top: 30px;
}
.principal-contact{
    display: flex;
    background-color:rgb(204, 223, 220);
    padding-top:30px;
}
.principal-stats{
    background-color:rgb(204, 223, 220);
}

form fieldset label{
    font-weight: bold;
}

.btn-primary{
    width:fit-content;
    display:flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: end;
}

#detalles > div.img-cinema {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 25px;
}

div.card{
    height: 100%!important;
    margin-top: 0px;
    margin-bottom: 0px;
    border: var(--bs-card-border-width) solid;
    
}
.card>img{
    height:200px;
    object-fit: cover;
}

.card-detail>img{
    object-fit: cover;
    display: flex;
    align-self: center;
    border: solid red 2px;
}
.card-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
    object-fit: cover;
}
#detalles{
    margin:unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card-body.details{
    background-color:rgb(204, 223, 220);
    border:solid grey 2px;
    display: flex;
    text-align: center;
    color: #191919;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:2px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.btn.btn-outline-success>p{
    color:rgb(255, 0, 0);
}

#formulario{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: center;
}

fieldset{
    margin-left:20vh!important;
}
#stats{
    padding-top:40px;
}
/*----------MEDIA QUERIES----------*/
/*PANTALLA GRANDE*/

/*@media screen and (min-width:700px)  {
    .container-sm ul{
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    footer > h5 {
        display: inline-flex;
        position: relative;
    }   
}*/

@media screen and (min-width:250px) and (max-width:350px){

    body{
        display: grid;
    }
    .banner{
        gap: 30px;
       display: grid;
       justify-self: center;
    }

    .banner > h1{
        font-size: calc(1.375rem + 1.5vw);
    }

    fieldset{
        margin-left:10px!important;
    }
}